/* Navegación del menu */
/*sección de navegación 0 por la página */
.site-header0{
  margin-top: 0.1rem;
  margin-bottom: 1rem;
}

.site-nav0{
  display:flex;
  justify-content:baseline;
  background-color: rgb(60, 60, 60);
  list-style: none;
  
}

.site-nav0 .mainMenu0 {
  
  font-weight: bold;
  text-align: left;
  color:white;
  font-family:inherit;

}

.site-nav0 li a{
  
  text-decoration:none;
  display: inline-flex;
  width: 100%;
  color: inherit;
}

.site-nav0 ul {
  list-style: none;
  background-color: inherit;
  padding: 0 1rem 0 1rem; 
}

.site-nav0 .mainMenu0:hover{
  
  font-weight: bold;
  background-color: rgb(240,240,240);
              
}

.site-nav0 li a:hover{
  color:#000;
  border-color: yellow;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

/*sección de navegación 1 por la página */
.site-nav1  {
  
  color: rgb(44, 44, 44);
  justify-content: baseline;
  list-style: none;
  text-align: left;
  font-family:inherit;
  
}

.menu-vert {
  list-style:none;
  
}

.menu-vert a{
  text-decoration:none;
  display: inline-block;
  color: inherit;
  text-transform: capitalize;
  box-sizing: border-box;
  
}
          
.menu-vert a:hover{
  color:#000;
  font-weight: bold;
  background-color: rgb(235, 235, 235);
  border-color: yellow;
  border-width: 0.1rem;
  border-bottom-style: solid;
  text-transform: capitalize; 
  transition: .03s all ease-in;            
}

.menu-vert ul{

  list-style: none;
  display:none;
  left:-2rem;
  
}

.menu-vert ul ul {
  list-style: none;
  display:none;
  
}

.submenu-vert {
  position: relative;
}

.submenu-vert-level {
  position: relative;
}

.submenu-vert a {
  
  padding: 0.5rem;
  text-decoration:none;
  color: inherit;
  max-width:8rem;
  text-transform: capitalize;
  box-sizing: border-box;
}

.menu-vert:hover ul, .menu-vert:target ul{
  display: block;
  
}
