
/*shortcode diagrama_dominios*/
div .mermaid {
    margin: 0;
    padding: 0;
}

/*shortcode archivos dataFiles*/
.shortcodeJSON {
    position: relative;
    background-color: rgb(240, 240, 240);
    height: 400px;
    width: 1000px;
    overflow: scroll;
    
}

.shortcodeJSON:hover {
    background-color: rgb(230,230,230);
}

.shortcodeJSON .shortcodeJSON_file {
    padding: 0 2rem;
}

/*shortcode archivos dataDetails*/
.shortcodeDetails {
    position: relative;
    background-color: white;
    color: rgb(44,44,44);
    
}

.shortcode_ClassDetails[open] {
    background-color: rgb(240, 240, 240);
    max-height: 400px;
    max-width: 1000px;
    overflow: scroll;
}

.shortcodeDetails:hover {
    color:#000;
    font-weight: bold;
    border-color: yellow;
    border-width: 0.1rem;
    border-bottom-style: solid; 
}

.shortcodeDetails_file {
    padding: 0 2rem;
}

/*Shortcode descargar archivos*/
.shortcodeDownload {
    display: flex;
}

.shortcodeDownload .icon {
    padding: 0 0 0 2rem;
    height: 5%;
    width: 5%;
    order: 1;

}

.shortcodeDownload .icon img{
    padding: 0;
    height: 100%;
    width: 100%;

}

.shortcodeDownload .text_icon{
    padding: 0 1rem;
    height: 20%;
    color: rgb(40,40,40);
    order: 2;
}
